.border-box {
    -moz-box-sizing: border-box;
}
@font-face {
    font-family: "IcoMoon";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.svg#IcoMoon") format("svg"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype");
}
[data-icon]:before {
    content: attr(data-icon);
    font-family: 'IcoMoon';
}
[class^="icomoon-"]:before, [class*=" icomoon-"]:before {
    font-family: 'IcoMoon';
    font-style: normal;
}
a [class^="icomoon-"], a [class*=" icomoon-"] {
    display: inline-block;
}
.icomoon-large:before {
    font-size: 1.33333em;
    vertical-align: -10%;
}
.btn [class^="icomoon-"], .nav [class^="icomoon-"], .btn [class*=" icomoon-"], .nav [class*=" icomoon-"] {
    display: inline;
    line-height: 0.6em;
}
.btn .icomoon-spin[class^="icomoon-"], .nav .icomoon-spin[class^="icomoon-"], .btn .icomoon-spin[class*=" icomoon-"], .nav .icomoon-spin[class*=" icomoon-"] {
    display: inline-block;
}
li [class^="icomoon-"], li [class*=" icomoon-"] {
    display: inline-block;
    text-align: center;
    width: 1.25em;
}
li .icomoon-large[class^="icomoon-"], li .icomoon-large[class*=" icomoon-"] {
    width: 1.5625em;
}
ul.icons {
    list-style-type: none;
    text-indent: -0.75em;
}
ul.icons li [class^="icomoon-"], ul.icons li [class*=" icomoon-"] {
    width: 0.75em;
}
.icomoon-muted {
    color: #EEEEEE;
}
.icomoon-border {
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    padding: 0.2em 0.25em 0.15em;
}
.icomoon-2x {
    font-size: 2em;
}
.icomoon-2x.icomoon-border {
    border-radius: 4px;
    border-width: 2px;
}
.icomoon-3x {
    font-size: 3em;
}
.icomoon-3x.icomoon-border {
    border-radius: 5px;
    border-width: 3px;
}
.icomoon-4x {
    font-size: 4em;
}
.icomoon-4x.icomoon-border {
    border-radius: 6px;
    border-width: 4px;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.pull-left[class^="icomoon-"], .pull-left[class*=" icomoon-"] {
    margin-right: 0.35em;
}
.pull-right[class^="icomoon-"], .pull-right[class*=" icomoon-"] {
    margin-left: 0.35em;
}
.btn .pull-left.icomoon-2x[class^="icomoon-"], .btn .pull-left.icomoon-2x[class*=" icomoon-"], .btn .pull-right.icomoon-2x[class^="icomoon-"], .btn .pull-right.icomoon-2x[class*=" icomoon-"] {
    margin-top: 0.35em;
}
.btn .icomoon-spin.icomoon-large[class^="icomoon-"], .btn .icomoon-spin.icomoon-large[class*=" icomoon-"] {
    height: 0.75em;
}
.btn.btn-small .pull-left.icomoon-2x[class^="icomoon-"], .btn.btn-small .pull-left.icomoon-2x[class*=" icomoon-"], .btn.btn-small .pull-right.icomoon-2x[class^="icomoon-"], .btn.btn-small .pull-right.icomoon-2x[class*=" icomoon-"] {
    margin-top: 0.45em;
}
.btn.btn-lg .pull-left.icomoon-2x[class^="icomoon-"], .btn.btn-lg .pull-left.icomoon-2x[class*=" icomoon-"], .btn.btn-lg .pull-right.icomoon-2x[class^="icomoon-"], .btn.btn-lg .pull-right.icomoon-2x[class*=" icomoon-"] {
    margin-top: 0.2em;
}
.icomoon-home:before {
    content: "";
}
.icomoon-home-2:before {
    content: "";
}
.icomoon-home-3:before {
    content: "";
}
.icomoon-office:before {
    content: "";
}
.icomoon-newspaper:before {
    content: "";
}
.icomoon-pencil:before {
    content: "";
}
.icomoon-pencil-2:before {
    content: "";
}
.icomoon-quill:before {
    content: "";
}
.icomoon-pen:before {
    content: "";
}
.icomoon-blog:before {
    content: "";
}
.icomoon-droplet:before {
    content: "";
}
.icomoon-paint-format:before {
    content: "";
}
.icomoon-image:before {
    content: "";
}
.icomoon-image-2:before {
    content: "";
}
.icomoon-images:before {
    content: "";
}
.icomoon-camera:before {
    content: "";
}
.icomoon-music:before {
    content: "";
}
.icomoon-headphones:before {
    content: "";
}
.icomoon-play:before {
    content: "";
}
.icomoon-film:before {
    content: "";
}
.icomoon-camera-2:before {
    content: "";
}
.icomoon-dice:before {
    content: "";
}
.icomoon-pacman:before {
    content: "";
}
.icomoon-spades:before {
    content: "";
}
.icomoon-clubs:before {
    content: "";
}
.icomoon-diamonds:before {
    content: "";
}
.icomoon-pawn:before {
    content: "";
}
.icomoon-bullhorn:before {
    content: "";
}
.icomoon-connection:before {
    content: "";
}
.icomoon-podcast:before {
    content: "";
}
.icomoon-feed:before {
    content: "";
}
.icomoon-book:before {
    content: "";
}
.icomoon-books:before {
    content: "";
}
.icomoon-library:before {
    content: "";
}
.icomoon-file:before {
    content: "";
}
.icomoon-profile:before {
    content: "";
}
.icomoon-file-2:before {
    content: "";
}
.icomoon-file-3:before {
    content: "";
}
.icomoon-file-4:before {
    content: "";
}
.icomoon-copy:before {
    content: "";
}
.icomoon-copy-2:before {
    content: "";
}
.icomoon-copy-3:before {
    content: "";
}
.icomoon-paste:before {
    content: "";
}
.icomoon-paste-2:before {
    content: "";
}
.icomoon-paste-3:before {
    content: "";
}
.icomoon-stack:before {
    content: "";
}
.icomoon-folder:before {
    content: "";
}
.icomoon-folder-open:before {
    content: "";
}
.icomoon-tag:before {
    content: "";
}
.icomoon-tags:before {
    content: "";
}
.icomoon-barcode:before {
    content: "";
}
.icomoon-qrcode:before {
    content: "";
}
.icomoon-ticket:before {
    content: "";
}
.icomoon-cart:before {
    content: "";
}
.icomoon-cart-2:before {
    content: "";
}
.icomoon-cart-3:before {
    content: "";
}
.icomoon-coin:before {
    content: "";
}
.icomoon-credit:before {
    content: "";
}
.icomoon-calculate:before {
    content: "";
}
.icomoon-support:before {
    content: "";
}
.icomoon-phone:before {
    content: "";
}
.icomoon-phone-hang-up:before {
    content: "";
}
.icomoon-address-book:before {
    content: "";
}
.icomoon-notebook:before {
    content: "";
}
.icomoon-envelop:before {
    content: "";
}
.icomoon-pushpin:before {
    content: "";
}
.icomoon-location:before {
    content: "";
}
.icomoon-location-2:before {
    content: "";
}
.icomoon-compass:before {
    content: "";
}
.icomoon-map:before {
    content: "";
}
.icomoon-map-2:before {
    content: "";
}
.icomoon-history:before {
    content: "";
}
.icomoon-clock:before {
    content: "";
}
.icomoon-clock-2:before {
    content: "";
}
.icomoon-alarm:before {
    content: "";
}
.icomoon-alarm-2:before {
    content: "";
}
.icomoon-bell:before {
    content: "";
}
.icomoon-stopwatch:before {
    content: "";
}
.icomoon-calendar:before {
    content: "";
}
.icomoon-calendar-2:before {
    content: "";
}
.icomoon-print:before {
    content: "";
}
.icomoon-keyboard:before {
    content: "";
}
.icomoon-screen:before {
    content: "";
}
.icomoon-laptop:before {
    content: "";
}
.icomoon-mobile:before {
    content: "";
}
.icomoon-mobile-2:before {
    content: "";
}
.icomoon-tablet:before {
    content: "";
}
.icomoon-tv:before {
    content: "";
}
.icomoon-cabinet:before {
    content: "";
}
.icomoon-drawer:before {
    content: "";
}
.icomoon-drawer-2:before {
    content: "";
}
.icomoon-drawer-3:before {
    content: "";
}
.icomoon-box-add:before {
    content: "";
}
.icomoon-box-remove:before {
    content: "";
}
.icomoon-download:before {
    content: "";
}
.icomoon-upload:before {
    content: "";
}
.icomoon-disk:before {
    content: "";
}
.icomoon-storage:before {
    content: "";
}
.icomoon-undo:before {
    content: "";
}
.icomoon-redo:before {
    content: "";
}
.icomoon-flip:before {
    content: "";
}
.icomoon-flip-2:before {
    content: "";
}
.icomoon-undo-2:before {
    content: "";
}
.icomoon-redo-2:before {
    content: "";
}
.icomoon-forward:before {
    content: "";
}
.icomoon-reply:before {
    content: "";
}
.icomoon-bubble:before {
    content: "";
}
.icomoon-bubbles:before {
    content: "";
}
.icomoon-bubbles-2:before {
    content: "";
}
.icomoon-bubble-2:before {
    content: "";
}
.icomoon-bubbles-3:before {
    content: "";
}
.icomoon-bubbles-4:before {
    content: "";
}
.icomoon-user:before {
    content: "";
}
.icomoon-users:before {
    content: "";
}
.icomoon-user-2:before {
    content: "";
}
.icomoon-users-2:before {
    content: "";
}
.icomoon-user-3:before {
    content: "";
}
.icomoon-user-4:before {
    content: "";
}
.icomoon-busy:before {
    content: "";
}
.icomoon-spinner:before {
    content: "";
}
.icomoon-spinner-2:before {
    content: "";
}
.icomoon-spinner-3:before {
    content: "";
}
.icomoon-spinner-4:before {
    content: "";
}
.icomoon-spinner-5:before {
    content: "";
}
.icomoon-spinner-6:before {
    content: "";
}
.icomoon-binoculars:before {
    content: "";
}
.icomoon-search:before {
    content: "";
}
.icomoon-zoom-in:before {
    content: "";
}
.icomoon-zoom-out:before {
    content: "";
}
.icomoon-expand:before {
    content: "";
}
.icomoon-contract:before {
    content: "";
}
.icomoon-expand-2:before {
    content: "";
}
.icomoon-contract-2:before {
    content: "";
}
.icomoon-key:before {
    content: "";
}
.icomoon-key-2:before {
    content: "";
}
.icomoon-lock:before {
    content: "";
}
.icomoon-lock-2:before {
    content: "";
}
.icomoon-unlocked:before {
    content: "";
}
.icomoon-wrench:before {
    content: "";
}
.icomoon-settings:before {
    content: "";
}
.icomoon-equalizer:before {
    content: "";
}
.icomoon-cog:before {
    content: "";
}
.icomoon-cogs:before {
    content: "";
}
.icomoon-cog-2:before {
    content: "";
}
.icomoon-hammer:before {
    content: "";
}
.icomoon-wand:before {
    content: "";
}
.icomoon-aid:before {
    content: "";
}
.icomoon-bug:before {
    content: "";
}
.icomoon-pie:before {
    content: "";
}
.icomoon-stats:before {
    content: "";
}
.icomoon-bars:before {
    content: "";
}
.icomoon-bars-2:before {
    content: "";
}
.icomoon-gift:before {
    content: "";
}
.icomoon-trophy:before {
    content: "";
}
.icomoon-glass:before {
    content: "";
}
.icomoon-mug:before {
    content: "";
}
.icomoon-food:before {
    content: "";
}
.icomoon-leaf:before {
    content: "";
}
.icomoon-rocket:before {
    content: "";
}
.icomoon-meter:before {
    content: "";
}
.icomoon-meter2:before {
    content: "";
}
.icomoon-dashboard:before {
    content: "";
}
.icomoon-hammer-2:before {
    content: "";
}
.icomoon-fire:before {
    content: "";
}
.icomoon-lab:before {
    content: "";
}
.icomoon-magnet:before {
    content: "";
}
.icomoon-remove:before {
    content: "";
}
.icomoon-remove-2:before {
    content: "";
}
.icomoon-briefcase:before {
    content: "";
}
.icomoon-airplane:before {
    content: "";
}
.icomoon-truck:before {
    content: "";
}
.icomoon-road:before {
    content: "";
}
.icomoon-accessibility:before {
    content: "";
}
.icomoon-target:before {
    content: "";
}
.icomoon-shield:before {
    content: "";
}
.icomoon-lightning:before {
    content: "";
}
.icomoon-switch:before {
    content: "";
}
.icomoon-power-cord:before {
    content: "";
}
.icomoon-signup:before {
    content: "";
}
.icomoon-list:before {
    content: "";
}
.icomoon-list-2:before {
    content: "";
}
.icomoon-numbered-list:before {
    content: "";
}
.icomoon-menu:before {
    content: "";
}
.icomoon-menu-2:before {
    content: "";
}
.icomoon-tree:before {
    content: "";
}
.icomoon-cloud:before {
    content: "";
}
.icomoon-cloud-download:before {
    content: "";
}
.icomoon-cloud-upload:before {
    content: "";
}
.icomoon-download-2:before {
    content: "";
}
.icomoon-upload-2:before {
    content: "";
}
.icomoon-download-3:before {
    content: "";
}
.icomoon-upload-3:before {
    content: "";
}
.icomoon-globe:before {
    content: "";
}
.icomoon-earth:before {
    content: "";
}
.icomoon-link:before {
    content: "";
}
.icomoon-flag:before {
    content: "";
}
.icomoon-attachment:before {
    content: "";
}
.icomoon-eye:before {
    content: "";
}
.icomoon-eye-blocked:before {
    content: "";
}
.icomoon-eye-2:before {
    content: "";
}
.icomoon-bookmark:before {
    content: "";
}
.icomoon-bookmarks:before {
    content: "";
}
.icomoon-brightness-medium:before {
    content: "";
}
.icomoon-brightness-contrast:before {
    content: "";
}
.icomoon-contrast:before {
    content: "";
}
.icomoon-star:before {
    content: "";
}
.icomoon-star-2:before {
    content: "";
}
.icomoon-star-3:before {
    content: "";
}
.icomoon-heart:before {
    content: "";
}
.icomoon-heart-2:before {
    content: "";
}
.icomoon-heart-broken:before {
    content: "";
}
.icomoon-thumbs-up:before {
    content: "";
}
.icomoon-thumbs-up-2:before {
    content: "";
}
.icomoon-happy:before {
    content: "";
}
.icomoon-happy-2:before {
    content: "";
}
.icomoon-smiley:before {
    content: "";
}
.icomoon-smiley-2:before {
    content: "";
}
.icomoon-tongue:before {
    content: "";
}
.icomoon-tongue-2:before {
    content: "";
}
.icomoon-sad:before {
    content: "";
}
.icomoon-sad-2:before {
    content: "";
}
.icomoon-wink:before {
    content: "";
}
.icomoon-wink-2:before {
    content: "";
}
.icomoon-grin:before {
    content: "";
}
.icomoon-grin-2:before {
    content: "";
}
.icomoon-cool:before {
    content: "";
}
.icomoon-cool-2:before {
    content: "";
}
.icomoon-angry:before {
    content: "";
}
.icomoon-angry-2:before {
    content: "";
}
.icomoon-evil:before {
    content: "";
}
.icomoon-evil-2:before {
    content: "";
}
.icomoon-shocked:before {
    content: "";
}
.icomoon-shocked-2:before {
    content: "";
}
.icomoon-confused:before {
    content: "";
}
.icomoon-confused-2:before {
    content: "";
}
.icomoon-neutral:before {
    content: "";
}
.icomoon-neutral-2:before {
    content: "";
}
.icomoon-wondering:before {
    content: "";
}
.icomoon-wondering-2:before {
    content: "";
}
.icomoon-point-up:before {
    content: "";
}
.icomoon-point-right:before {
    content: "";
}
.icomoon-point-down:before {
    content: "";
}
.icomoon-point-left:before {
    content: "";
}
.icomoon-warning:before {
    content: "";
}
.icomoon-notification:before {
    content: "";
}
.icomoon-question:before {
    content: "";
}
.icomoon-info:before {
    content: "";
}
.icomoon-info-2:before {
    content: "";
}
.icomoon-blocked:before {
    content: "";
}
.icomoon-cancel-circle:before {
    content: "";
}
.icomoon-checkmark-circle:before {
    content: "";
}
.icomoon-spam:before {
    content: "";
}
.icomoon-close:before {
    content: "";
}
.icomoon-checkmark:before {
    content: "";
}
.icomoon-checkmark-2:before {
    content: "";
}
.icomoon-spell-check:before {
    content: "";
}
.icomoon-minus:before {
    content: "";
}
.icomoon-plus:before {
    content: "";
}
.icomoon-enter:before {
    content: "";
}
.icomoon-exit:before {
    content: "";
}
.icomoon-play-2:before {
    content: "";
}
.icomoon-pause:before {
    content: "";
}
.icomoon-stop:before {
    content: "";
}
.icomoon-backward:before {
    content: "";
}
.icomoon-forward-2:before {
    content: "";
}
.icomoon-play-3:before {
    content: "";
}
.icomoon-pause-2:before {
    content: "";
}
.icomoon-stop-2:before {
    content: "";
}
.icomoon-backward-2:before {
    content: "";
}
.icomoon-forward-3:before {
    content: "";
}
.icomoon-first:before {
    content: "";
}
.icomoon-last:before {
    content: "";
}
.icomoon-previous:before {
    content: "";
}
.icomoon-next:before {
    content: "";
}
.icomoon-eject:before {
    content: "";
}
.icomoon-volume-high:before {
    content: "";
}
.icomoon-volume-medium:before {
    content: "";
}
.icomoon-volume-low:before {
    content: "";
}
.icomoon-volume-mute:before {
    content: "";
}
.icomoon-volume-mute-2:before {
    content: "";
}
.icomoon-volume-increase:before {
    content: "";
}
.icomoon-volume-decrease:before {
    content: "";
}
.icomoon-loop:before {
    content: "";
}
.icomoon-loop-2:before {
    content: "";
}
.icomoon-loop-3:before {
    content: "";
}
.icomoon-shuffle:before {
    content: "";
}
.icomoon-arrow-up-left:before {
    content: "";
}
.icomoon-arrow-up:before {
    content: "";
}
.icomoon-arrow-up-right:before {
    content: "";
}
.icomoon-arrow-right:before {
    content: "";
}
.icomoon-arrow-down-right:before {
    content: "";
}
.icomoon-arrow-down:before {
    content: "";
}
.icomoon-arrow-down-left:before {
    content: "";
}
.icomoon-arrow-left:before {
    content: "";
}
.icomoon-arrow-up-left-2:before {
    content: "";
}
.icomoon-arrow-up-2:before {
    content: "";
}
.icomoon-arrow-up-right-2:before {
    content: "";
}
.icomoon-arrow-right-2:before {
    content: "";
}
.icomoon-arrow-down-right-2:before {
    content: "";
}
.icomoon-arrow-down-2:before {
    content: "";
}
.icomoon-arrow-down-left-2:before {
    content: "";
}
.icomoon-arrow-left-2:before {
    content: "";
}
.icomoon-arrow-up-left-3:before {
    content: "";
}
.icomoon-arrow-up-3:before {
    content: "";
}
.icomoon-arrow-up-right-3:before {
    content: "";
}
.icomoon-arrow-right-3:before {
    content: "";
}
.icomoon-arrow-down-right-3:before {
    content: "";
}
.icomoon-arrow-down-3:before {
    content: "";
}
.icomoon-arrow-down-left-3:before {
    content: "";
}
.icomoon-arrow-left-3:before {
    content: "";
}
.icomoon-tab:before {
    content: "";
}
.icomoon-checkbox-checked:before {
    content: "";
}
.icomoon-checkbox-unchecked:before {
    content: "";
}
.icomoon-checkbox-partial:before {
    content: "";
}
.icomoon-radio-checked:before {
    content: "";
}
.icomoon-radio-unchecked:before {
    content: "";
}
.icomoon-crop:before {
    content: "";
}
.icomoon-scissors:before {
    content: "";
}
.icomoon-filter:before {
    content: "";
}
.icomoon-filter-2:before {
    content: "";
}
.icomoon-font:before {
    content: "";
}
.icomoon-text-height:before {
    content: "";
}
.icomoon-text-width:before {
    content: "";
}
.icomoon-bold:before {
    content: "";
}
.icomoon-underline:before {
    content: "";
}
.icomoon-italic:before {
    content: "";
}
.icomoon-strikethrough:before {
    content: "";
}
.icomoon-omega:before {
    content: "";
}
.icomoon-sigma:before {
    content: "";
}
.icomoon-table:before {
    content: "";
}
.icomoon-table-2:before {
    content: "";
}
.icomoon-insert-template:before {
    content: "";
}
.icomoon-pilcrow:before {
    content: "";
}
.icomoon-left-to-right:before {
    content: "";
}
.icomoon-right-to-left:before {
    content: "";
}
.icomoon-paragraph-left:before {
    content: "";
}
.icomoon-paragraph-center:before {
    content: "";
}
.icomoon-paragraph-right:before {
    content: "";
}
.icomoon-paragraph-justify:before {
    content: "";
}
.icomoon-paragraph-left-2:before {
    content: "";
}
.icomoon-paragraph-center-2:before {
    content: "";
}
.icomoon-paragraph-right-2:before {
    content: "";
}
.icomoon-paragraph-justify-2:before {
    content: "";
}
.icomoon-indent-increase:before {
    content: "";
}
.icomoon-indent-decrease:before {
    content: "";
}
.icomoon-new-tab:before {
    content: "";
}
.icomoon-embed:before {
    content: "";
}
.icomoon-code:before {
    content: "";
}
.icomoon-console:before {
    content: "";
}
.icomoon-share:before {
    content: "";
}
.icomoon-mail:before {
    content: "";
}
.icomoon-mail-2:before {
    content: "";
}
.icomoon-mail-3:before {
    content: "";
}
.icomoon-mail-4:before {
    content: "";
}
.icomoon-google:before {
    content: "";
}
.icomoon-google-plus:before {
    content: "";
}
.icomoon-google-plus-2:before {
    content: "";
}
.icomoon-google-plus-3:before {
    content: "";
}
.icomoon-google-plus-4:before {
    content: "";
}
.icomoon-google-drive:before {
    content: "";
}
.icomoon-facebook:before {
    content: "";
}
.icomoon-facebook-2:before {
    content: "";
}
.icomoon-facebook-3:before {
    content: "";
}
.icomoon-instagram:before {
    content: "";
}
.icomoon-twitter:before {
    content: "";
}
.icomoon-twitter-2:before {
    content: "";
}
.icomoon-twitter-3:before {
    content: "";
}
.icomoon-feed-2:before {
    content: "";
}
.icomoon-feed-3:before {
    content: "";
}
.icomoon-feed-4:before {
    content: "";
}
.icomoon-youtube:before {
    content: "";
}
.icomoon-youtube-2:before {
    content: "";
}
.icomoon-vimeo:before {
    content: "";
}
.icomoon-vimeo2:before {
    content: "";
}
.icomoon-vimeo-2:before {
    content: "";
}
.icomoon-lanyrd:before {
    content: "";
}
.icomoon-flickr:before {
    content: "";
}
.icomoon-flickr-2:before {
    content: "";
}
.icomoon-flickr-3:before {
    content: "";
}
.icomoon-flickr-4:before {
    content: "";
}
.icomoon-picassa:before {
    content: "";
}
.icomoon-picassa-2:before {
    content: "";
}
.icomoon-dribbble:before {
    content: "";
}
.icomoon-dribbble-2:before {
    content: "";
}
.icomoon-dribbble-3:before {
    content: "";
}
.icomoon-forrst:before {
    content: "";
}
.icomoon-forrst-2:before {
    content: "";
}
.icomoon-deviantart:before {
    content: "";
}
.icomoon-deviantart-2:before {
    content: "";
}
.icomoon-steam:before {
    content: "";
}
.icomoon-steam-2:before {
    content: "";
}
.icomoon-github:before {
    content: "";
}
.icomoon-github-2:before {
    content: "";
}
.icomoon-github-3:before {
    content: "";
}
.icomoon-github-4:before {
    content: "";
}
.icomoon-github-5:before {
    content: "";
}
.icomoon-wordpress:before {
    content: "";
}
.icomoon-wordpress-2:before {
    content: "";
}
.icomoon-joomla:before {
    content: "";
}
.icomoon-blogger:before {
    content: "";
}
.icomoon-blogger-2:before {
    content: "";
}
.icomoon-tumblr:before {
    content: "";
}
.icomoon-tumblr-2:before {
    content: "";
}
.icomoon-yahoo:before {
    content: "";
}
.icomoon-tux:before {
    content: "";
}
.icomoon-apple:before {
    content: "";
}
.icomoon-finder:before {
    content: "";
}
.icomoon-android:before {
    content: "";
}
.icomoon-windows:before {
    content: "";
}
.icomoon-windows8:before {
    content: "";
}
.icomoon-soundcloud:before {
    content: "";
}
.icomoon-soundcloud-2:before {
    content: "";
}
.icomoon-skype:before {
    content: "";
}
.icomoon-reddit:before {
    content: "";
}
.icomoon-linkedin:before {
    content: "";
}
.icomoon-lastfm:before {
    content: "";
}
.icomoon-lastfm-2:before {
    content: "";
}
.icomoon-delicious:before {
    content: "";
}
.icomoon-stumbleupon:before {
    content: "";
}
.icomoon-stumbleupon-2:before {
    content: "";
}
.icomoon-stackoverflow:before {
    content: "";
}
.icomoon-pinterest:before {
    content: "";
}
.icomoon-pinterest-2:before {
    content: "";
}
.icomoon-xing:before {
    content: "";
}
.icomoon-xing-2:before {
    content: "";
}
.icomoon-flattr:before {
    content: "";
}
.icomoon-foursquare:before {
    content: "";
}
.icomoon-foursquare-2:before {
    content: "";
}
.icomoon-paypal:before {
    content: "";
}
.icomoon-paypal-2:before {
    content: "";
}
.icomoon-paypal-3:before {
    content: "";
}
.icomoon-yelp:before {
    content: "";
}
.icomoon-libreoffice:before {
    content: "";
}
.icomoon-file-pdf:before {
    content: "";
}
.icomoon-file-openoffice:before {
    content: "";
}
.icomoon-file-word:before {
    content: "";
}
.icomoon-file-excel:before {
    content: "";
}
.icomoon-file-zip:before {
    content: "";
}
.icomoon-file-powerpoint:before {
    content: "";
}
.icomoon-file-xml:before {
    content: "";
}
.icomoon-file-css:before {
    content: "";
}
.icomoon-html5:before {
    content: "";
}
.icomoon-html5-2:before {
    content: "";
}
.icomoon-css3:before {
    content: "";
}
.icomoon-chrome:before {
    content: "";
}
.icomoon-firefox:before {
    content: "";
}
.icomoon-IE:before {
    content: "";
}
.icomoon-opera:before {
    content: "";
}
.icomoon-safari:before {
    content: "";
}
.icomoon-IcoMoon:before {
    content: "";
}
.dur-fast {
    animation-duration: 0.5s;
}
.dur-slow {
    animation-duration: 1.5s;
}
.dur-x-slow {
    animation-duration: 3s;
}
.de-02 {
    animation-delay: 0.2s;
}
.de-04 {
    animation-delay: 0.4s;
}
.de-06 {
    animation-delay: 0.6s;
}
.de-08 {
    animation-delay: 0.8s;
}
.de-1 {
    animation-delay: 1s;
}
.de-12 {
    animation-delay: 1.2s;
}
.de-14 {
    animation-delay: 1.4s;
}
.de-16 {
    animation-delay: 1.6s;
}
.de-18 {
    animation-delay: 1.8s;
}
.de-2 {
    animation-delay: 2s;
}
body {
    background-color: #F4F2ED;
}
body, html, h1, h2, h3, h4, h5, h6, p {
    color: #60646D;
    font-family: 'Raleway',Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-rendering: optimizelegibility;
}
a {
    color: #00953C;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 32.8px;
}
h3 {
    font-size: 26.4px;
}
h4 {
    font-size: 21.6px;
}
h5 {
    font-size: 18.4px;
}
h6 {
    font-size: 16.8px;
}
p {
    line-height: 28.8px;
    margin: 0 0 12px;
}
.lead {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 24px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
    margin: 10px 0;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #696762;
    display: block;
    font-size: 15px;
    font-weight: 300;
}
.post-content img {
    margin: 15px 0;
}
.post-content img:first-child {
    margin-top: 0;
}
.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
    font-weight: 300;
    margin: 1.2em 0 5px;
}
.post-content h1:first-child, .post-content h2:first-child, .post-content h3:first-child, .post-content h4:first-child, .post-content h5:first-child, .post-content h6:first-child {
    margin-top: 0;
}
.post-content h5, .post-content h6 {
    font-weight: 400;
}
.post-content p.lead {
    font-size: 24px;
    font-weight: 300;
}
.bold {
    font-weight: bold;
}
h1.bold {
    font-size: 63.2px;
}
h2.bold {
    font-size: 48.8px;
}
.uc {
    text-transform: uppercase;
}
h1.enlarge {
    font-size: 60px;
}
h2.enlarge {
    font-size: 52px;
}
h3.enlarge {
    font-size: 44px;
}
h4.enlarge {
    font-size: 36px;
}
h5.enlarge {
    font-size: 16px;
}
h6.enlarge {
    font-size: 29.6px;
}
address strong {
    display: block;
    margin-top: 5px;
}
address i {
    margin-right: 6px;
}
.img-wrap {
    float: left;
    margin: 0 1em 1em 0;
}
.img-wrap figcaption {
    font-size: 0.9em;
    font-weight: normal;
}
blockquote {
    border-left-color: #FBC107;
    margin: 1em 0 1em 2em;
}
blockquote p {
    font-size: 140%;
    font-style: italic;
    font-weight: 200;
}
blockquote small {
    display: block;
    font-size: 14px;
    font-style: normal;
    margin-top: 10px;
}
body {
    background-color: #F4F2ED;
}
#header {
    color: #FFFFFF;
    text-align: center;
}
#header h1, #header h2, #header h3, #header h4, #header h5, #header h6, #header p, #header a {
    color: #FFFFFF;
}
#header .header-upper {
    padding: 1em 0 80px;
}
#header .header-lower {
    height: 30px;
}
#header .social-media a:hover, #header .main-menu a:hover {
    border-color: #FBC107;
    color: #FBC720;
}
#header .social-media {
    margin-top: 20px;
}
#header .social-media a {
    margin: 0 2px;
}
#header .main-menu {
    font-size: 13px;
    margin-top: 5px;
}
#header .main-menu a {
    margin: 0 4px;
}
#content {
    background-color: rgba(243, 241, 236, 0.8);
    background-repeat: no-repeat;
    background-size: contain !important;
}
@media not all {
#content {
    background-image: url("../img/backgrounds/bg_brasil-skyline@2x.png");
    background-size: 1000px 114px;
}
}
#content .content {
    padding-bottom: 100px;
    position: relative;
    top: -90px;
}
#content .content-inner {
    margin-bottom: -90px;
}
#footer {
    background-color: #283659;
    color: #789CD4;
    font-size: 13px;
    font-weight: 300;
    min-height: 50px;
    text-align: center;
    bottom: 0;
    position: relative;
}
#footer p {
    color: #789CD4;
    font-size: 13px;
}
#footer a {
    color: #FFFFFF;
}
#footer a:hover {
    color: #FFFFFF;
    cursor: pointer;
}
@media (min-width: 768px) {
.container {
    max-width: 1000px;
}
#header .header-upper {
    padding: 1em 0 190px;
}
#header .header-lower {
    height: 130px;
}
#content {
    background-size: 1000px 114px !important;
}
#content .content {
    padding-top: 140px;
    padding-bottom: 50px;
    /*top: -290px;*/
}
#content .content-inner {
    margin-bottom: -260px;
}
}
@media (min-width: 992px) {
.container {
    max-width: 1000px;
}
#header {
    text-align: left;
}
#header .social-media, #header .main-menu {
    text-align: right;
}
#header .social-media {
    margin-top: 3px;
}
#header .main-menu {
    margin-top: 6px;
}
}
@media (min-width: 1200px) {
.container {
    max-width: 1000px;
}
}
.mini-menu {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 100000;
}
.mini-menu-trigger {
    background: none repeat scroll 0 0 #EEEEEE;
    border: medium none;
    border-radius: 2px;
    color: #00953C;
    cursor: pointer;
    float: right;
    font-size: 28px;
    line-height: 1;
    margin: 0;
    outline: medium none;
    padding: 4px 8px;
    transition: all 0.2s ease 0s;
}
.mini-menu-trigger:hover, .mini-menu-trigger.open, .open .mini-menu-trigger {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #00953C;
    text-decoration: none;
}
.open .mini-menu-trigger {
    border-radius: 2px 2px 0 0;
}
.mini-menu .dropdown-menu {
    border-radius: 2px;
    margin-top: -1px;
    min-width: 200px;
}
.mini-menu .dropdown-menu img.theme-logo {
    display: block;
    margin: 0 auto;
    max-width: 140px;
}
.mini-menu .dropdown-menu i {
    font-size: 18px;
    padding-right: 8px;
}
.blog-description {
    font-size: 14px;
    margin: 5px 0 0;
}
img {
    height: auto;
    max-width: 100%;
}
.retina-demo img {
    display: block;
    margin-bottom: 1em;
    width: 500px;
}
.bg-stretch {
    background-size: cover;
}
.bg-fixed {
    background-attachment: fixed;
}
.bg-norepeat {
    background-repeat: no-repeat;
}
.bg-center {
    background-position: center top;
}
.bg-nofilter .filter {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.bg-primary, .bg-secondary, .bg-tertiary {
    color: #FFFFFF !important;
}
.bg-primary a, .bg-secondary a, .bg-tertiary a {
    color: #FFFFFF !important;
    font-weight: bold;
}
.bg-primary {
    background-color: #00953C !important;
}
.bg-secondary {
    background-color: #FBC107 !important;
}
.bg-tertiary {
    background-color: #4377CD !important;
}
.block {
    padding-bottom: 1em;
    padding-top: 1em;
    position: relative;
}
.social-media {
    text-align: center;
}
.social-media a {
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    display: inline-block;
    height: 34px;
    line-height: 35px;
    margin: 10px 2px;
    text-align: center;
    text-decoration: none;
    width: 34px;
}
.social-media a i {
    font-size: 20px;
}
h1.title-divider {
    margin-top: 3em;
}
h2.title-divider {
    margin-top: 2em;
}
h3.title-divider {
    margin-top: 1em;
}
.error-page {
    background: url("../img/backgrounds/bg_colours-stripe.png") repeat-x scroll right bottom #FFFFFF;
    border-radius: 4px 4px 0 0;
    margin-bottom: 3em;
    padding: 6em 0;
    text-align: center;
}
@media (min-width: 768px) {
.block {
    padding-bottom: 2em;
    padding-top: 2em;
    position: relative;
}
}
[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
}
.primary[class^="icon-"], .primary[class*=" icon-"] {
    background-color: #00953C;
}
.filter {
    background-color: rgba(0, 148, 59, 0.85);
}
.filter:before, .filter:after {
    content: " ";
    display: table;
}
.filter:after {
    clear: both;
}
.filter-secondary {
    background-color: rgba(251, 195, 9, 0.85);
}
.post {
    background: url("../img/backgrounds/bg_colours-stripe.png") repeat-x scroll right bottom #FFFFFF;
    border-radius: 4px 4px 0 0;
    margin-bottom: 3em;
    padding: 15px;
    position: relative;
}
.post-header {
    position: relative;
}
.post-feature-media {
    display: block;
    margin-bottom: 15px;
}
.post-feature-media img {
    margin: 0 !important;
}
.post-feature-media blockquote, .post-feature-media .twitter-tweet {
    margin: 0 !important;
}
.featured-media-custom .post-excerpt, .featured-media-tweet .post-excerpt, .featured-media-fb-status .post-excerpt {
    display: none;
}
.post-title {
    color: #4377CD;
    font-size: 32px;
    font-weight: 300;
    margin: -5px 0 10px !important;
}
.post-title a {
    color: #4377CD;
}
.post-date i.fa {
    display: block;
}
.post-date .post-date-day, .post-date .post-date-month, .post-date .post-date-year {
    line-height: 5px;
}
.post-date .post-date-day, .post-date .post-date-month {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
.post-date .post-date-year {
    display: block;
    font-size: 10px;
    font-weight: 300;
}
.page-post .post-date {
    font-size: 14px;
    font-weight: 600;
}
.post-content {
    margin-bottom: 2em;
}
.post-excerpt {
    margin: 1em 0;
}
.post-view-link, .post-top-link {
    background: none repeat scroll 0 0 #4377CD;
    bottom: 0;
    color: #FFFFFF;
    padding: 8px 14px;
    position: absolute;
    right: 0;
}
.post-view-link:hover, .post-top-link:hover {
    background: none repeat scroll 0 0 #5786D2;
    color: #FFFFFF;
}
.pagination {
    display: block;
    margin: 2em 0 0;
    padding: 5px 0 0;
    text-align: center;
}
.pagination:before, .pagination:after {
    content: " ";
    display: table;
}
.pagination:after {
    clear: both;
}
.pagination .page-number {
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}
.pagination a {
    display: inline-block;
    margin-bottom: 2px;
    text-transform: uppercase;
    width: auto;
}
.pagination a:hover {
    text-decoration: none;
}
.fluid-width-video-wrapper {
    z-index: 0;
}
iframe {
    border: medium none;
    width: 100%;
}
.post-author {
    color: #597090;
    font-weight: 200;
}
.post-author a {
    color: #4377CD;
}
.post-author .post-author-img {
    border-radius: 100%;
}
.post-author .post-author-website, .post-author .post-author-email {
    display: block;
}
.post-author-mini {
    font-size: 11px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.post-author-mini a {
    display: block;
}
.post-author-mini .post-author-img {
    margin: 5px 5px 0;
    max-width: 50px;
}
.post-author-block {
    margin-bottom: 2em;
    margin-top: 3em;
}
.post-author-block .post-author-img {
    max-width: 100%;
}
.post-author-block h3 {
    font-size: 20px;
    font-weight: 200;
}
.post-author-block .post-author-website, .post-author-block .post-author-email {
    font-size: 0.9em;
    font-weight: 300;
}
.post-share.affix {
    position: static;
}
.post-share-widget .btn {
    display: block;
    margin-top: 1px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.post-share-widget .btn > .caret {
    border-top-color: #FFFFFF;
    margin-left: -5px;
    margin-right: -5px;
}
.post-share-widget .dropdown-menu {
    border-color: #D6A403;
    box-shadow: none;
    font-size: 12px;
    left: 0;
    margin-top: -1px;
    min-width: 10px;
    padding: 0;
    right: auto;
    text-align: center;
    width: 100%;
}
.post-share-widget .dropdown-menu > li > a {
    color: #C29403;
    padding: 7px;
}
.post-share-widget .dropdown-menu > li > a i {
    display: block;
    font-size: 30px;
}
.post-share-widget .dropdown-menu > li > a:hover, .post-share-widget .dropdown-menu > li > a:focus {
    color: #9A7602;
}
.post-share-widget .dropdown-menu > li > a.post-share-twitter {
    color: #55ACEE;
}
.post-share-widget .dropdown-menu > li > a.post-share-facebook {
    color: #3B569B;
}
.post-share-widget .dropdown-menu > li > a.post-share-google {
    color: #DD4B39;
}
.post-tags {
    border-top: 1px dotted #ADACB4;
    margin: 2em 0;
    padding: 2em 0 0;
}
.post-tags h3 {
    font-size: 20px;
    font-weight: 200;
}
.post-tag {
    background: none repeat scroll 0 0 #F3F2ED;
    border-radius: 15px;
    color: #989BA4;
    display: inline-block;
    font-weight: 400;
    padding: 10px;
}
#comment-form {
    border-top: 4px solid #EEEEEE;
    margin: 4em 0 2em;
    padding: 2em 0;
}
.post-meta {
    margin-bottom: 1em;
}
.post-meta:before, .post-meta:after {
    content: " ";
    display: table;
}
.post-meta:after {
    clear: both;
}
.post-meta > div {
    padding: 10px;
    text-align: center;
}
.post-meta .post-date-share {
    float: left;
    padding: 0;
    width: 90px;
}
.post-meta .post-date-share .post-date {
    padding: 10px;
}
.post-meta .post-date-share div.post-share {
    padding: 0;
}
.post-meta .post-date-share div.post-share .post-share-widget {
    width: 100%;
}
.post-meta .post-author-mini {
    float: left;
    margin-left: 1em;
    padding: 0;
}
#infscr-loading {
    text-align: center;
}
@media (min-width: 768px) {
.post-content {
    padding-left: 0;
}
.post-meta {
    margin-bottom: 0;
}
.post-meta:before, .post-meta:after {
    content: " ";
    display: table;
}
.post-meta:after {
    clear: both;
}
.post-meta .post-date-share {
    float: none;
    padding: 0;
    width: auto;
}
.post-meta .post-date-share .post-date {
    padding: 10px;
}
.post-meta .post-author-mini {
    float: none;
    margin: 1em 0 0;
    padding: 0;
}
}
@media (min-width: 992px) {
.post-share-widget .dropdown-menu {
    left: auto;
    right: 0;
}
.post-author-mini .post-author-name {
    display: block;
}
.post-author-block .post-author-website, .post-author-block .post-author-email {
    display: inline-block;
}
.post-author-block .post-author-website {
    padding-right: 1em;
}
}
.btn {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0);
    color: #2D3469;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    text-transform: uppercase;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background: none repeat scroll 0 0 #F2F2F2;
    color: #333333;
}
.btn:active, .btn.active {
}
.btn [class^="icon-"], .btn [class*=" icon-"] {
    padding-right: 8px;
}
.btn-default {
    border-color: #CCCCCC;
}
.btn-shadow {
    box-shadow: 0 1px 5px #969696;
}
.btn-lg {
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    padding: 16px 30px;
}
.btn-lg [class^="icon-"], .btn-lg [class*=" icon-"] {
    font-size: 24px;
    margin-top: 0;
    padding-left: 12px;
}
.btn-sm {
    border-radius: 4px;
    font-size: 10.6px;
    padding: 8px 12px;
}
.btn-sm [class^="icon-"], .btn-sm [class*=" icon-"] {
    margin-top: 0;
}
.btn-xs [class^="icon-"], .btn-xs [class*=" icon-"] {
    margin-top: -1px;
}
.btn-xs {
    border-radius: 4px;
    font-size: 9px;
    padding: 3px 6px;
}
.btn-group > .btn-xs {
    font-size: 9px;
}
.btn-group > .btn-sm {
    font-size: 11.6px;
}
.btn-group > .btn-lg {
    font-size: 14px;
}
.btn-primary {
    background: none repeat scroll 0 0 #00953C;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background: none repeat scroll 0 0 #006C2C;
    color: #FFFFFF;
}
.btn-primary:active, .btn-primary.active {
}
.btn-warning {
    background: none repeat scroll 0 0 #F0AD4E;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    background: none repeat scroll 0 0 #EC971F;
    color: #FFFFFF;
}
.btn-warning:active, .btn-warning.active {
}
.btn-danger {
    background: none repeat scroll 0 0 #D9534F;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
    background: none repeat scroll 0 0 #D9534F;
    color: #FFFFFF;
}
.btn-danger:active, .btn-danger.active {
}
.btn-success {
    background: none repeat scroll 0 0 #5CB85C;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    background: none repeat scroll 0 0 #5CB85C;
    color: #FFFFFF;
}
.btn-success:active, .btn-success.active {
}
.btn-info {
    background: none repeat scroll 0 0 #5BC0DE;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background: none repeat scroll 0 0 #5BC0DE;
    color: #FFFFFF;
}
.btn-info:active, .btn-info.active {
}
.btn-inverse {
    background: none repeat scroll 0 0 #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
    background: none repeat scroll 0 0 #4D4D4D;
    color: #FFFFFF;
}
.btn-inverse:active, .btn-inverse.active {
}
.btn-group .btn {
    border-radius: 0;
}
.btn-group .btn:first-child {
    border-bottom-left-radius: 5px;
    border-right: 0 none;
    border-top-left-radius: 5px;
}
.btn-group .btn.btn-square:first-child {
    border-radius: 1px;
}
.btn-group .btn:last-child {
    border-bottom-right-radius: 5px;
    border-left: 0 none;
    border-top-right-radius: 5px;
}
.btn-group .btn.btn-square:last-child {
    border-radius: 1px;
}
.btn [class^="icon-"], .btn [class*=" icon-"] {
    padding-left: 0;
    padding-right: 4px;
}
.btn.btn-lg [class^="icon-"], .btn.btn-lg [class*=" icon-"] {
    padding-left: 0;
    padding-right: 8px;
}
.btn.btn-square {
    border-radius: 1px;
}
.btn-icon-right [class^="icon-"], .btn-icon-right [class*=" icon-"] {
    padding-left: 4px;
    padding-right: 0;
}
.btn-icon-right.btn-lg [class^="icon-"], .btn-icon-right.btn-lg [class*=" icon-"] {
    padding-left: 6px;
    padding-right: 0;
}
.btn-primary-dark {
    background: none repeat scroll 0 0 #006227;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-primary-dark:hover, .btn-primary-dark:focus, .btn-primary-dark:active, .btn-primary-dark.active, .btn-primary-dark.disabled, .btn-primary-dark[disabled] {
    background: none repeat scroll 0 0 #006C2C;
    color: #FFFFFF;
}
.btn-primary-dark:active, .btn-primary-dark.active {
}
.btn-primary-dark:hover, .btn-primary-dark:focus, .btn-primary-dark:active, .btn-primary-dark.active, .btn-primary-dark.disabled, .btn-primary-dark[disabled] {
    background: none repeat scroll 0 0 #00953C;
    color: #FFFFFF;
}
.btn-primary-dark:active, .btn-primary-dark.active {
}
.btn-primary-light {
    background: none repeat scroll 0 0 #00AF46;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: none;
}
.btn-primary-light:hover, .btn-primary-light:focus, .btn-primary-light:active, .btn-primary-light.active, .btn-primary-light.disabled, .btn-primary-light[disabled] {
    background: none repeat scroll 0 0 #006C2C;
    color: #FFFFFF;
}
.btn-primary-light:active, .btn-primary-light.active {
}
.btn-primary-light:hover, .btn-primary-light:focus, .btn-primary-light:active, .btn-primary-light.active, .btn-primary-light.disabled, .btn-primary-light[disabled] {
    background: none repeat scroll 0 0 #007C32;
    color: #FFFFFF;
}
.btn-primary-light:active, .btn-primary-light.active {
}
.btn-secondary {
    background: none repeat scroll 0 0 #FBC107;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: none !important;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .btn-secondary.disabled, .btn-secondary[disabled] {
    background: none repeat scroll 0 0 #E5AF04;
    color: #FFFFFF;
}
.btn-secondary:active, .btn-secondary.active {
}
.btn-no-border {
    border: medium none !important;
}
.btn-no-bg {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
.btn-link {
    border-radius: 0;
    color: #428BCA;
    cursor: pointer;
    font-weight: normal;
}
.btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    border-color: rgba(0, 0, 0, 0);
}
.btn-link:hover, .btn-link:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #2A6496;
    text-decoration: underline;
}
.btn-link[disabled]:hover, fieldset[disabled] .btn-link:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:focus {
    color: #999999;
    text-decoration: none;
}
.dropdown-menu {
    border-radius: 0 0 1px 1px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.176);
    margin: 0;
    min-width: 160px;
    padding: 10px 0;
    text-align: left;
}
.dropdown-menu > li > a {
    color: #00953C;
    padding: 5px 15px;
}
.dropdown-menu > li > a i {
    vertical-align: middle;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #F9F9F9;
    color: #006227;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #428BCA;
    color: #FFFFFF;
    outline: 0 none;
    text-decoration: none;
}
.dropdown-menu > li.dropdown-header > a, .dropdown-menu > li.dropdown-footer > a {
    display: inline;
    padding: 0;
}
.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    color: #999999;
}
.dropdown-header {
    padding: 3px 15px;
}
.tooltip {
    font-size: 15px;
}
.tooltip-inner {
    background-color: #00AF46;
    border-radius: 2px;
    color: #FFFFFF;
    max-width: 200px;
    padding: 8px 12px;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #00AF46;
}
.tooltip.top-left .tooltip-arrow {
    border-top-color: #00AF46;
}
.tooltip.top-right .tooltip-arrow {
    border-top-color: #00AF46;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #00AF46;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #00AF46;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #00AF46;
}
.tooltip.bottom-left .tooltip-arrow {
    border-bottom-color: #00AF46;
}
.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #00AF46;
}
