
html {
    min-height: 100%;
    position: relative;
}
body {
    margin-bottom: 60px;
}
#footer {
    background-color: #F5F5F5;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
}
.container {
    max-width: 680px;
    padding: 0 15px;
    width: auto;
}
.container .text-muted {
    margin: 20px 0;
}