/*@import url('http://fonts.googleapis.com/css?family=Allan');

@import url('http://fonts.googleapis.com/css?family=AguafinaScript');

@import url('http://fonts.googleapis.com/css?family=Satisfy');*/

@font-face {
    font-family: 'mundial';
    src: url('../fonts/ifkgeapagodebold.ttf');
}

@font-face {
    font-family: 'brasil2014';
    src: url('../fonts/Brasil World Cup 2014 font.otf');
}

@font-face {
    font-family: 'BigelowRules';
    src: url('../fonts/BigelowRules-Regular.ttf');
}

@font-face {
    font-family: 'Cabin';
    src: url('../fonts/Cabin-Regular.ttf');
}

@font-face {
    font-family: 'AguafinaScript';
    src: url('../fonts/AguafinaScript-Regular.ttf');
}

@font-face {
    font-family: 'Allan';
    src: url('../fonts/Allan-Regular.ttf');
}

@font-face {
    font-family: 'Niconne';
    src: url('../fonts/Niconne-Regular.ttf');
}

@font-face {
    font-family: 'Satisfy';
    src: url('../fonts/Satisfy-Regular.ttf');
}

body {
    font-family: 'Cabin';
    background-color: #F6F2E3;
}

.prode-container{
    margin-top: 20px;
    min-height: 500px;
}

.prode-pagina-titulo{
    font-family: 'AguafinaScript';
    margin-bottom: 30px;
    font-size: 30px;
}

.prode-mensajes {
    text-align: center;
}

.navbar .brand, .navbar .nav > li > a {
    /*color: #64686D; //#FFFFFF;*/
    color: #FFFFFF;
}

.navbar .nav > li > a {
    float: none;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 20px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Allan';
}

.navbar .brand, .navbar .nav > li > a:hover {
    /*color: #64686D; //#FFFFFF;*/
    color: #64686D;
    font-size: 15px;
}

.prode-top-header-container-1 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border-bottom: 1px solid #E7E7E7;
}
.prode-top-header-container {
    background-color: #344E5D;
    min-height: 30px;
    color: #FFF;
    font-family: 'Allan';
    font-size: 20px;
}

.prode-username {
    color: #FFFFFF;
    font-family: 'Cabin';
    margin-top: 20px;
}

.prode-navigation-titulo, .prode-navigation-titulo:hover {
    font-family: 'Allan';
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
}

#header .social-media a:hover, #header .main-menu a:hover {
    border-color: #283659;
    color: #283659;
}

#header h1, #header h2, #header h3, #header h4, #header h5, #header h6, #header p, #header a {
    color: #2D3743;
}

.prode-menu-opcion {
    font-family: 'BigelowRules';
    font-size: 30px;
    text-transform: none;
    color: #ffffff;
    font-weight: normal;
}

.prode-navigation-login {
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
}

.prode-login-input {
    border: medium none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
}

.prode-boton-login {
    /*background-color: #FF6B45;*/
    background-color: #EF5248;
    color: #FFFFFF;
    border: none;
}

.prode-boton-login:hover{
    background-color: #cb382f;
}

.prode-navigation {
    background-color: #326295;
}

.prode-logo-paises {
    width: 30%;
}

.prode-grupo-nombre {
    text-align: center;
}

.prode-pronostico-bandera {
    width: 35px;
}

.prode-pronostico-partido{
    padding-top: 20px;
}

.prode-pronostico-table-thead, th{
    background-color: #FFFFFF;
    text-align: center;
    font-weight: bolder;
}

.prode-pronostico-table-tbody, td{
    text-align: center;
}

.prode-footer-text {
    margin-top: 10px;
}

.prode-pronostico-boton-guardar {
    background-color: #53B979;
    color: #FFFFFF;
    border: none;
    margin-bottom: 20px;
    font-family: 'Allan';
    font-size: 22px;
}

.prode-pronostico-boton-guardar:hover{
    background-color: #24a255;
}

.prode-titulo-pagina {
    color: #2963C6;
    font-family: 'Allan';
    font-size: 30px;
    margin-bottom: 30px;
}

.prode-ranking-h3 {
    border-bottom: 5px solid rgba(100, 100, 100, 0.2);
    font-size: 14px;
    font-weight: bold;
    line-height: 1.25;
    margin-bottom: 24px;
    padding-bottom: 12px;
    text-transform: uppercase;
}

.prode-registrar-span {
    display: block;
    margin-top: 5px;
}

.prode-registrar-input {
    border: 2px solid rgba(100, 100, 100, 0.4);
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.45;
    padding: 12px 15px;
    width: 100%;
}

.prode-registrar-input:focus{
    border-color: #EF5248;
}


.prode-social {
    background-color: #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    height: 30px;
    line-height: 50px;
    text-align: center;
    width: 30px;
    line-height: 40px;
    margin-top: 5px;
}

.prode-social:hover {
    background-color: #96D9EC;
}

.prode-social > img {
    padding-bottom: 10px;
}

.prode-torne-nuevo-integrante {
    border: 5px solid #EF5248;
    border-radius: 100%;
    color: #EF5248;
    font-size: 36px;
    height: 86px;
    line-height: 76px;
    width: 86px;
}




/* fondo del contendio de la pagina */ 
.prode-pagina-contenido {
    background: url("../img/home/bg_colours-stripe.png") repeat-x scroll right bottom #FFFFFF;
    border-radius: 4px 4px 0 0;
    margin-bottom: 3em;
    min-height: 600px;
}

/***********************
    HEADER
*************************/
.prode-link-menu > a {
    text-decoration: none;
    text-align: center;
    font-family: 'Allan';
    font-size: 21px;
    color: #FFF;
    margin-right: 20px;
}

/***********************
    PAGINA TORNEO
*************************/
.prode-cargando {
    text-align: center; 
    padding-bottom: 30px;
}

.prode-nombre-torneo a{
    color: #60646D;
    text-decoration: none;
}

.prode-nombre-torneo a:hover, prode-nombre-torneo a:focus{
    color: #60646D;
    text-decoration: none;
}

/***********************
    FOOTER
*************************/
.prode-footer{
    bottom: 0;
    position: relative;
    width: 100%;
}

.prode-footer-header{
    min-height: 120px;
    background-color: #F4F1EC;
    background-image: url("../img/home/bg_brasil-skyline.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain !important;
}

/***********************
    MIS PRONOSTICOS
*************************/
.prode-spinner {
    text-align: center;
    color: #2D3743;
    font-family: 'Allan';
    font-size: 20px;
}


/***********************
    REGLAS
*************************/
.prode-pregunta {
    color: #24A255;
    font-weight: bold;
}

.prode-perfil-dato {
    margin-left: 20px;
}

.is-countdown {
    background-image: url('../img/home.png');
    height: 400px;
    padding-top: 30%;
}

.prode-pronosticos-grupo-nombre {
    text-align: center;
}

.prode-pronosticos-grupo {
    background-color: #283659;
    color: #FFFFFF;
    padding: 10px;
}

.prode-home-partidos{
    padding-top: 20px;
    padding-bottom: 20px;
}

.prode-home-proximos-partidos{
    background-image: url('../img/partidos.png');
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 160px;
    border: 3px solid #4EAFDC;
    border-radius: 20px;
}

.prode-menu {
    background: url("../img/home/bg-main.png") repeat scroll 0 0 #46BA71;
    padding: 10px;
    vertical-align: middle;
    border-bottom: solid 3px;
    border-top: solid 3px;
    border-color: #FFD84C;
}

.double-border {
    background-color: #ccc;
    border: 4px solid #fff;
    box-shadow:
        inset 0 0 0 4px #eee,
        inset 0 0 0 8px #ddd,
        inset 0 0 0 12px #ccc,
        inset 0 0 0 16px #bbb,
        inset 0 0 0 20px #aaa,
        inset 0 0 0 20px #999,
        inset 0 0 0 20px #888;
        /* And so on and so forth, if you want border-ception */
    padding: 3em;
    width: 16em;
    height: 16em;
    position: relative;
}

.prode-header {
    background-color: #CBECFC;
}

.prode-top {
    background-color: #CBECFC;
    min-height: 30px;
}

.prode-top .prode-link-menu > a {
    text-decoration: none;
    text-align: center;
    font-family: 'Allan';
    font-size: 21px;
    color: #2D3743;
    margin-right: 20px;
}

.prode-torneo-formulario-nuevo-amigo {
    padding-top: 30px;
}

.prode-torneo-listado-amigos {
    padding-top: 30px;
}

.prode-home-ranking {
    background-image: url("../img/campeon.png");
    height: 143px;
    background-repeat: no-repeat;
}
