.ha-header {
  background-color: transparent;
  border-color: transparent;
}

.prode-footer-header{
    min-height: 120px;
    background-color: #F4F1EC;
    background-image: url("../img/home/bg_brasil-skyline.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain !important;
}