html {
    min-height: 100%;
    position: relative;
}
body {
    margin-bottom: 60px;
}
#footer {
    background-color: #283659;
    color: #789CD4;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
    font-size: 13px;
    font-weight: 300;
    min-height: 50px;
}
.container {
    max-width: 680px;
    padding: 0 15px;
    width: auto;
}
.container .text-muted {
    margin: 20px 0;
}
